{% extends "AutosOcasion/autosOcasionBase.html.twig" %}

{% block contenido %}

<h2> Listado de autos </h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for car in cars %}
            <div class= "col mb-4">
                <div class= "card" style= "width: 18rem;">
                    <img src="{{ car.img }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="class title">{{ car.brand }}</h5>
                            <p class="card-text">{{ car.code }}</p>
                            <p class="card-text">{{ car.model }}</p>
                            <p class="card-text">{{ car.age }}</p>
                            <p class="card-text">{{ car.style }}</p>
                            <p class="card-text">{{ car.kilometres }}</p>
                            <p class="card-text">{{ car.colors }}</p>
                            <p class="card-text">{{ car.description }}</p>
                            <a href="#" class="btn btn-primary"> Más info </a>
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}