{% extends "AutosOcasion/autosOcasionBase.html.twig" %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col text-center"><h2>{{car.brand}} Nº {{car.code}}</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{car.image}}">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">{{car.model}}</div>
            </div>
            <div class="row">
                <div class="col">{{car.age}}</div>
            </div>
            <div class="row">
                <div class="col">{{car.style}}</div>
            </div>
            <div class="row">
                <div class="col">{{car.kilometres}}</div>
            </div>
            <div class="row">
                <div class="col">{{car.colors}}</div>
            </div>  
            <div class="row">
                <ul>
                   {{car.description}}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}